<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Manage Staff</title>
<th:block th:replace="fragments/header"></th:block>
<th:block th:replace="fragments/sidebar"></th:block>
</head>
<body>
	<div align="center">
	<h1>Manage Staff</h1>
	
	<a th:href="@{/admin/staff/create}" class="bclass">Create New Staff</a> 
	<a th:href="@{/admin/stafflist}" class="bclass">Modify/Delete Staff</a>
	<a th:href="@{/admin/staffs1}" class="bclass">View All Staff</a>
	

	</div>
</body>
</html>